{% extends 'baabtra/baabtrahome.html' %}

{% load static %}

{%  block content  %}










<p><h2 style="color: white;">------LEARN FROM PROFESSIONALS</h2></p>
<p><h1 style="color: white;">Taught by industry experts</h1></p>
<p style="color: white;">Baabtra, the best software training company in Calicut has proved its expertise by training and placing several hundreds of students both in MNC’s like UST Global, Infosys, Oracle etc and SME’s like Nucore Software Solutions, Sesame, IOSS, ULTS and many other companies mainly in Kozhikode, Cochin, Trivandrum and Bangalore.</p>
<br>
<input type="button" value="JOIN NOW">
{% endblock %}