{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/selo.css' %}">
    <style>
        p{
            color: chartreuse;
            
        }
        .hadiqu{
            color: aquamarine;
        }
        #archer{
            color: blueviolet;
        }

        h1{
            color:yellowgreen;
            background-color:aqua;
        }
        a{
            display: block;
        }
        
        p{
            display: inline;
            /* visibility: hidden; */
        }
        
    </style>
</head>
<body>
    <img src="{% static 'images/Facebookss.jpg' %}"><br>
    <a href="">resort</a>
    <a href="">apple</a>
    <a href="">orange</a>
    <p>Lorem ipsum dolor sit amet consectetur.</p>
    <p>Lorem ipsum dolor sit.</p>
    <p>Lorem, ipsum dolor.</p>
    <p>Lorem, ipsum.</p>
   <div id="som">
    <h1 style="color:red ; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">helloooo goooys</h1>
    <p class="hadiqu" id="archer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, dicta.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p><br>
    <h2 id="h22">jangooooo</h2>
   </div>
    <p class="hadiqu">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem totam ipsum praesentium.</p>
    <span class="sou">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dignissimos officia modi reprehenderit amet non.</span>
    <h2>heyyyyyyyyyyyyyy</h2>
    <input type="button" value="click">
    <div id="h33">
    <h3>NATURE</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos illo cupiditate quibusdam similique dicta quo maxime reprehenderit sed recusandae! Vero nemo maiores modi aperiam iure officiis ab iusto voluptas perferendis neque. A tempore nobis quasi alias sit amet aperiam assumenda, dicta nisi quis! Culpa libero animi itaque modi vitae, blanditiis voluptas harum sunt repudiandae maxime minus minima architecto magni aperiam dicta exercitationem atque quod at officia. Ad placeat non saepe consequuntur. Quibusdam, nulla, ipsum quia unde quidem ut nesciunt dignissimos maiores consectetur adipisci debitis omnis hic doloribus voluptatum ratione sunt distinctio nisi porro aperiam ipsam illo, laboriosam eius itaque perspiciatis.</p>
    </div>
</body>
</html>