{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/newselo.css' %}">
    <style>
        #ooty{
            border: 2px red solid;
            padding: 20px 50px 100px ;
            margin: 50px 20px 70px 200px;

            margin-top: 200px;
            margin-right: 150px;
            margin-bottom: 300px;
            margin-left: 150px;
            padding-top: 30px;
            padding-right: 40px;
            

        }
    </style>
</head>
<body>
    
    <div id="ooty">
        
    
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit itaque repellat tempore consequuntur praesentium ducimus ipsum vero quibusdam molestias error. Placeat vero recusandae laudantium. Obcaecati quisquam in asperiores ducimus temporibus pariatur, deserunt molestiae magnam deleniti debitis distinctio similique perspiciatis vero excepturi quidem ea dolorem cupiditate provident, illo recusandae aut? Eligendi?</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, provident aut? Est, sint!</p>
    </div>
</body>
</html>